exclude: ^other/
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-builtin-literals
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
        args:
        - --fix=lf
    -   id: pretty-format-json
        args:
        - --autofix
        - --no-sort-keys
    -   id: trailing-whitespace
    -   id: detect-aws-credentials
        args:
        - --allow-missing-credentials
    -   id: detect-private-key
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
    -   id: ruff
        args:
        - --fix
        - --exit-non-zero-on-fix
    -   id: ruff-format
-   repo: local
    hooks:
    -   id: llm-txt
        name: llm-txt
        entry: llm-check
        language: system
        pass_filenames: false
        files: ^(LLM\.txt|.*\.py)$
    -   id: pytest
        name: pytest
        entry: pytest
        language: system
        types:
        - python
        pass_filenames: false
-   repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
